doctype html
html(lang = "esp")

head
    title Mi tienda #{titulo}
    link(rel = "stylesheet", href = "/stylesheet/estilos.css")

    body
    p Ups parece que la url #{textoError} no es valida. 
    p Porque no prueba con: 
    h2
        a(href = '/') Inicio