doctype html
html(lang = "esp")

head
    title Mi tienda #{titulo}
    link(rel = "stylesheet", href = "/stylesheet/estilos.css")

    body
    h1 
        a(href = "#") Comprar una playera de color #{color}.         
    div
        h2 Vista previa
        img(src = datos.imagen, alt="Playera")