doctype html
html(lang = "esp")

head
    title Mi tienda #{titulo}
    link(rel = "stylesheet", href = "/stylesheet/estilos.css")

    body        
    h1 
        a( href= "/tienda") Bienvenido #{titulo}.
    div
        p Contamos con la mayor calidad y una excelente presentación.
        img(src ="images/camiseta1.png", alt = "Playera naranja")
    
    h2 
        p
            a( href= "/tienda") Catálogo

